body { background: #cd22bb; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 28px; display: flex; }
.block-metrics-0 { color: #7b72fc; font-size: 21px; margin-bottom: 5px; }
.block-config-1 { color: #b34049; font-size: 20px; margin-bottom: 5px; }
.block-helper-2 { color: #d0424a; font-size: 14px; margin-bottom: 5px; }
.block-user-3 { color: #52ed77; font-size: 16px; margin-bottom: 5px; }
.block-helper-4 { color: #58da8a; font-size: 15px; margin-bottom: 5px; }